<div id="{{mojit_view_id}}">
    <dl>
        <dt>status</dt>
        <dd id="dd_status">{{status}}</dd>
        <dt>data</dt>
        <dd id="dd_data">
            <b>some:</b> {{#data}}{{some}}{{/data}}
        </dd>
    </dl>
</div>
<div id="doc">
    To learn more about Mojito, see the following:
    <ul>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/intro/index.html">Introducing Mojito</a></li>
        <li><a href="http://quickstartguide.trunk.development.manhattan.gq1.yahoo.com/">Mojito Quickstart Guide</a></li>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/getting_started/index.html">Getting Started With Mojito</a></li>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/dashboard_tutorial/index.html">Mojito Dashboard Tutorial</a></li>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/code_exs/index.html">Code Examples</a>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/topics/index.html">Developer Topics</a>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/api_overview/index.html">Mojito API Overview</a></li>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/faq/index.html">FAQ</a></li>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/reference/index.html">Mojito Reference</a></li>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/docs/resources/index.html">Additional Resources</a></li>
    </ul>
    <p>
    You can also create the demo app <code>quickstartguide</code>, which is an example app that displays 
    Mojito documentation, by running the following commands: 
    <ul>
        <li><code>$ mojito create demo quickstartguide qsg</code></li>
        <li><code>$ cd qsg</code></li>
        <li><code>$ mojito start</code></li>
        <li>In a browser, navigate to the URL <a href="http://localhost:8666">localhost:8666</a>.</li>
    </ul
    </p>
</div>

